* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background-color: white;
}

header {
    background-color: blueviolet;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    background-color: white;
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    font-size: 14px;
}

button {
    padding: 10px 15px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #3b55a0;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.task-buttons button {
    margin-left: 5px;
    font-size: 12px;
}

footer {
    text-align: center;
    padding: 10px;
    color: black;
}
